.y-player {
    position: relative;
    overflow: hidden;
    user-select: none;
    line-height: 1;

    * {
        box-sizing: content-box;
    }

    svg {
        width: 100%;
        height: 100%;

        path,
        circle {
            fill: #fff;
        }
    }

    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        transform: translate(0, 0);
    }

    &.y-player-arrow {
        .y-player-icon {
            margin: 0 -3px;
        }
    }

    &.y-player-playing {
        @media (min-width: 900px) {
            .y-player-controller-mask {
                opacity: 0;
            }
            .y-player-controller {
                opacity: 0;
            }

            &:hover {
                .y-player-controller-mask {
                    opacity: 1;
                }
                .y-player-controller {
                    opacity: 1;
                }
            }
        }
    }

    &.y-player-loading {
        .y-player-bezel .y-player-loading-icon {
            display: block;
        }
    }

    &.y-player-hide-controller {
        cursor: none;

        .y-player-controller-mask {
            opacity: 0;
            transform: translateY(100%);
        }
        .y-player-controller {
            opacity: 0;
            transform: translateY(100%);
        }
    }
    &.y-player-show-controller {
        .y-player-controller-mask {
            opacity: 1;
        }
        .y-player-controller {
            opacity: 1;
        }
    }
    &.y-player-theater-mode {
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 100% !important;;
        height: 100% !important;;

        .y-player-controller .y-player-icons {
            .y-player-theater {
                .y-player-theater-icon {
                    display: none;
                }
                .y-player-theater-off-icon {
                    display: inline-block;
                }
            }
        }
    }
    &.y-player-full-screen {
        .y-player-controller .y-player-icons {
            .y-player-theater {
                display: none;
            }
            .y-player-full {
                .y-player-full-icon {
                    display: none;
                }
                .y-player-full-off-icon {
                    display: inline-block;
                }
            }
        }
    }
    &.y-player-mobile {
        .y-player-controller .y-player-icons {
            .y-player-volume {
                display: none;
            }
        }

        .y-player-bar-time {
            display: none;
        }
    }
}

// To hide scroll bar, apply this class to <body>
.y-player-theater-mode-fix {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}